.nav_bar {
  width: 100%;
  height: 8rem;
  background: white;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: flex-end;

  position: fixed;
  z-index: 1;
  top: 0;

  .right a {
    position: relative;
    top: 1.9rem;
    margin-right: 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

    &.active, &:hover {
      color: #BAA655;
    }
  }
}

.logo {
  flex: 1;
  justify-self: flex-start;
  margin-left: 1.75rem;
}

@media (max-width: 60rem) {
  .nav_bar {
    height: 6.5rem;
    justify-content: center;
  }

  .logo {
    flex: none;
    zoom: 0.8;
  }

  .right {
    display: none;
  }
}
