body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, ul, h4 {
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #3B3A3A;
}

p, ul {
  line-height: 1.5;
  font-weight: 300;

  b {
    font-weight: 400;
  }
}

h4 {
  font-weight: 600;
}

a {
  color: black;
  cursor: pointer;
}
