.profile {
  display: flex;
  margin: 4rem 0 6rem 0;
}

.portrait {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    max-width: 130px;;
    width: 60%;
    box-shadow: 0 0 0.1rem black;
  }

  p {
    margin: 0;
    padding: 0;

    &.name {
      font-size: 1.3rem;
      margin-top: 1rem;
    }

    &.title {
      color: #666;
      margin-top: 0;
    }
  }
}

.blurb {
  padding-left: 2.5rem;
}

@media (max-width: 47rem) {
  .profile {
    display: block;
  }

  .portrait {
    width: inherit;
    display: block;
    text-align: left;

    img {
      float: left;
      width: 10rem;
    }

    .under {
      display: inline-block;
      margin: 2rem;
    }
  }

  .blurb {
    clear: both;
    padding: 1rem 0 0 0;

    ul {
      margin-left: 1rem;
    }
  }
}
