.content {
  position: relative;
  background: white;

  ul {
    list-style-type: disc;
    margin-left: 2.45rem;

    &.numbered {
      list-style-type: decimal;
    }
  }

  li {
    margin-top: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  section.gradient {
    background: linear-gradient(white, #f7f7f7);
  }
}

.wrap {
  max-width: 60rem;
  margin: auto;
}

.full_width {
  padding: 4rem 3.5rem 8rem 3.5rem;
  font-size: 17px;

  :global(.Heading) {
    text-align: center;
  }

  p {
    margin-top: 2.5rem;
  }
}

.panels {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .panel {
    height: 27rem;
    flex: 1;
    background: #f7f7f7;

    &:first-child {
      margin-right: 0.75rem;
    }

    &:last-child {
      margin-left: 0.75rem;
    }

    .background {
      width: 100%;
      height: 14rem;
      background-size: cover;
    }

    h3, p {
      padding: 0 1.5rem;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      color: #3D5975;
      margin-top: 2rem;
    }

    p {
      font-size: 15px;
      margin-top: 1rem;
    }
  }
}

.side_by_side {
  display: flex;
  background: #f7f7f7;

  .left, .right {
    flex: 1;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .left {
    justify-content: flex-end;
    background-position: right center;
  }

  .right {
    justify-content: flex-start;
    background-position: left center;
  }

  .inner {
    padding: 4rem 3.5rem 8rem 3.5rem;
    max-width: 26.5rem;
  }

  p {
    margin-top: 2.5rem;
  }
}

.copyright {
  font-size: 15px;
  color: black;
  padding-top: 5rem;
}

$bg: #efefef;

.spacer {
  margin-top: 8rem;
  height: 50rem;

  background:
    linear-gradient(45deg, transparent 45%, $bg 50%, transparent 55%, transparent 100%),
    linear-gradient(-45deg, transparent 45%, $bg 50%, transparent 55%, transparent 100%);
  background-size: 10px 10px;

  box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2) inset;
}

@media (max-width: 60rem) {
  .panel {
    height: 31rem !important;
  }
}

@media (max-width: 47rem) {
  .full_width {
    padding: 3rem 1.5rem;
  }

  .spacer {
    display: none;
  }

  .panels {
    display: block;
    text-align: center;
  }

  .panel {
    margin: 0 0 2rem 0 !important;
    max-width: 25rem;
    display: inline-block;
    text-align: left;
  }

  .side_by_side {
    display: block;

    :global(.Heading) {
      text-align: center;
    }

    .inner {
      padding: 3rem 1.5rem;
      max-width: none;
    }

    .left, .right {
      min-height: 15rem;
    }
  }
}
