.content {
  position: relative;
  background: white;

  ul {
    list-style-type: disc;
    margin-left: 2.45rem;
  }

  li {
    margin-top: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

.wrap {
  max-width: 60rem;
  margin: auto;
}

.full_width {
  padding: 4rem 3.5rem 8rem 3.5rem;
  font-size: 17px;

  :global(.Heading) {
    text-align: center;
  }

  p {
    margin-top: 2.5rem;
  }

  &:nth-child(3) {
    background: linear-gradient(white, #f9f9f9);
    padding-top: 8rem;
  }
}

.panels {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  .panel {
    height: 27rem;
    flex: 1;
    background: #f7f7f7;

    &:first-child {
      margin-right: 0.75rem;
    }

    &:last-child {
      margin-left: 0.75rem;
    }
  }
}

.side_by_side {
  display: flex;
  background: #f7f7f7;

  .left, .right {
    flex: 1;
  }

  .left {
    display: flex;
    justify-content: flex-end;

    .inner {
      padding: 4rem 3.5rem 8rem 3.5rem;
      max-width: 26.5rem;
    }
  }

  .right {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
    margin-top: 2.5rem;
  }
}

.copyright {
  font-size: 15px;
  color: black;
  position: relative;
  top: 5rem;
}
