.content {
  position: relative;
  background: white;

  ul {
    list-style-type: disc;
    margin-left: 2.45rem;
  }

  li {
    margin-top: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

.full_width {
  padding: 4rem 3.5rem 8rem 3.5rem;
  font-size: 17px;

  :global(.Heading) {
    text-align: center;
  }

  p {
    margin-top: 2.5rem;
  }

  &:nth-child(2) {
    padding-top: 5rem;
    background: linear-gradient(white, #f9f9f9);
  }
}

.side_by_side {
  display: flex;

  .left {
    flex: 1;
    padding: 4rem 3.5rem 8rem 3.5rem;
    background: #f7f7f7;
  }

  .right {
    flex: 1;
    padding: 4rem 3.5rem 8rem 3.5rem;
    background: url("/static/working.jpg") center no-repeat;
  }

  p {
    font-size: 15px;
    margin-top: 2.5rem;
  }
}
