.text {
  font-size: 3.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.13rem;
  word-spacing: 0.4rem;
  color: #448AA9;
}

.subheading {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #aaa;
}

.underline {
  width: 7.2rem;
  height: 0.55rem;
  background: #d3bf6e;
  margin-top: 1.5rem;
  display: inline-block;
}

@media (max-width: 55rem) {
  .text {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1.2rem;
  }
}
